.audio-mode {
  position: absolute;
  bottom: 15px;
  right: 85px;
  opacity: 0.5;
  transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
  transition: 0.25s;
  -webkit-transition: 0.25s;
  cursor: pointer;
  &:hover {
    opacity: 1.0;
    transform: scale(1.2);
  }
}
