.docker-button {
  opacity:0.45;
  display: block;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
  transition: 0.25s;
  -webkit-transition: 0.25s;
  cursor: pointer;
  &:hover {
    opacity: 1.0;
    // transform: scale(1.05);
  }
}

.active-button {
  opacity: 1.0;
}

.flashing {
  animation-name: flashingButton;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  // animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes flashingButton {
  0% {
    // transform: scale(1);
    opacity: 0.45;
  }

  50% {
    opacity: 1.0;
  }

  100% {
    // transform: scale(1.25);
    opacity: 0.45;
  }
}

.buttonHoverText {
  position: absolute;
  right: 25px;
  color: white;
  font-size: 1em;
  font-weight: 300;
  opacity: 0;
  transition: 0.25s;
  transition-function: ease-out;
  
}

.buttonHoverTextTrigger:hover {
  .buttonHoverText {
    transform: translateX(-10px);
    opacity: 1;
  }
}
