$icon-size: 20px;
$icon-width: $icon-size+10px;
$icon-height: $icon-size;
$icon-margin: 2.5px;

$label-width: 40px;
$transition-time: 0.15s;
$transition-type: ease-out;

$settings-container-bottom: 20px;
$settings-container-right: 10px;

.settings-container {
	display: flex;
	flex-direction: row-reverse;
	position: absolute;
	bottom: $settings-container-bottom;
	right: $settings-container-right;

	.setting {
		cursor: pointer;
		width: $label-width;
		height: $icon-height;
		display: inline-block;
		background-size: $icon-size;
		background-repeat: no-repeat;
		background-position: center;
		position: relative;
		opacity: 0.45;
		text-align: center;

		.setting-label {
			user-select: none;
			color: white;
			display: inline-block;
			height:30px;
			transition: $transition-time;
			opacity: 0;
			transform: translateY(-20px);
			
		}			


		&:hover {
			opacity: 1.0;

			.setting-label {
				opacity: 1.0;
				transform: translateY(-25px);
			}
		}	

	}

	.sub-setting {
		z-index:-10;
		opacity: 0;
		margin: 0 -16px;
		transition: $transition-time;
		visibility: hidden;

		.setting-label {
			visibility: hidden;
		}

	}		



}

.settings-container-expanded {
	.sub-setting {
		visibility: visible;
		margin: 0 $icon-margin;
		opacity: 0.45;

		.setting-label {
			visibility: visible;
		}

	}
}
