.question {
  color: white;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.questionSpan {
  -webkit-animation: questionDissolveIn 1s;
  -webkit-animation-fill-mode: forwards;
}

@keyframes questionDissolveIn {
  from {
		opacity: 0;
	}
  to {
		opacity: 1;
	}
}
