.survey {
  position: absolute;
  // text-align: center;
  // left: 45%;
  // align-self: center;
  top: 62.5%;
  // bottom: 5%;
  // margin-top: 40px;
  // background-color: green;
  z-index: 10;
  // display: flex;
  // justify-content: center;
}
