.single-announcement {
  padding: 0px;
  width: 100%;

  .single-announcement-content {
    cursor: pointer;
    padding: 12px;
    background-color: rgba(255,255,255,0.6);
    transition: 0.2s;

    &:hover {
      background-color: rgba(255,255,255,0.7);
    }

  }

  h4 {
    margin: 0px 0px 8px 0px;
  }

  p {
    font-weight: 400;
    color: #7D7D7D;
    margin: 0;
    line-height: 1.5em;
  }

}

.inactive {
  opacity: 0.3;
}