.track {
  margin: 5px 0;
  font-weight: 300;
  opacity: 0.5;
  cursor: pointer;

  .track-length {
    float:right;
  }

  &:hover {
    opacity: 0.9;
  }

}

.play-button {
  border: 1px solid rgba(0,0,0,0.3);
  vertical-align: middle;
  border-radius: 10px;
  width: 12px;
  height: 12px;
  display: inline-block;
  opacity: 0.8;
  box-sizing: content-box;
  margin-right: 4px;

  &:hover{
    opacity: 1.0;
  }

  img {
    display: block;
    transform: translate(60%, 50%);
  }

}