.center-piece {
  position: relative;
  // top: 65%;
  // left: 50%;
  width: 100%;
  height: 100%;
  // text-align: center;
  // transform: translate(-50%, -80%);
  //background: radial-gradient(rgba(0,0,0,0.25) 35%, rgba(0,0,0,0) 70%);
  z-index: 5;
  -webkit-animation: fade 2s;
  // -webkit-transform: rotateZ(360deg);
  // -webkit-transform: translate(-50%, -80%);
  // background-color: red;
  display: flex;
  justify-content: center;
}

@keyframes fade {
  from { opacity: 0; }
  to { opacity: 1 ; }
}

.clockAndGreeting {
  position: relative;
  z-index: 6;
  width: 100%;
  margin: 0 auto;
  // background-color: blue;
  align-self: center;
}
